  .approvalPageWholeWrapper{
    margin-bottom: 6vh;
    }

    .backgroundImg{ 
      z-index: -10;
      position: absolute;
      left: 75vw;
      top: 12vh;
    }

    /* main nav bar */

  .approvalPageHead{
    background-color: transparent;
    padding: 2vh;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color:#6948a4;
  }
  .approvalHeader{
    height: 9vh;
    margin-left:4vw ;
    font-size: 40px;
    font-weight: bold;
  }
  
  .approvalHeader:hover{
    cursor: default;
  }
  .approvalPageHead .logoutBtn{
    margin-top: 1.3vh;
    margin-right:4vw ;
    border: none;
    width: 4vw;
    height: 8vh;
  
    transition: all 0.3s ease-in-out;
  }

  .approvalPageHead .logoutBtn:hover{
    cursor: pointer;
    
    /* box-shadow: 1px 2px 3px 1px rgb(93, 93, 93); */
  }

  .logoutBtn img{
    height: 50px;
    width: 50px;
    border-radius:15px ;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    
  }
  
  .logoutBtn img:hover{
    transform: scale(1.01);
    box-shadow: 1px 2px 3px 1px #6948a4 ;
  }

  /* subheading */

  .subHeader{
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    padding: 0.6vw;
    margin-left: 7.5vw;
    margin-right: 7vw;
  }
  

  .subHeader:hover{
    cursor: default;
  }

  .subHeading{
    color: #6948a4;
    font-size: 30px;
    font-weight: 600 ;
  }

  .verticalLine{
    margin-left: 1vw;
    margin-right: 1vw;
    width: 0.3vw;
    height: 6vh;
    background-color: #001567;
  }

  .welcome{
    width: fit-content;
    font-size:30px;
    font-weight: 500;
    color:#6948a4;
    animation: slide-right 1s ease-in-out !important;
    animation-delay: 5s;
  }

  @keyframes slide-right {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .ntd{
    font-size:35px;
    margin-left: 30vw;
    margin-top: 10vh;
    font-weight: 500;
    color:#6948a4;
  }

  .adminMode{
    margin-top: 0.7vh;
    margin-left: 1vw;
    width: 5.5vw;
    height: 5vh;
    border-radius: 15px;
    background-color: #83c9d6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 2px 10px 0 rgba(2, 157, 168, 0.751);
  }



  .addbtn{
    position: absolute;
    right: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width:10vw;
    height:7vh;
    background-color:#9069d3;
    border-radius:15px;
  }
  
  .addbtn:hover{
    background-color:#9573d0;
    cursor: pointer;
    box-shadow: 1px 8px 12px 1px rgba(157, 38, 236, 0.599);
  }

  /* sort cards */
  .sortBtn{
    background-color: #6a48a442;
    border-radius: 15px;
    width: 20vw;
    height: 6vh;
    display: flex;
    margin: 0.5vw;
    margin-left: 40vw;
    margin-bottom: 2vw;
    font-size: 20px;
    font-weight: 450;
    /* color:#000722; */
    color: #b7b7b7;
  }

  .pending , .history{
    position: relative;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83c9d6;
    animation: none;
  }

  .pending{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .history{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .pending:hover , .history:hover{
    cursor: pointer;
    background-color: #9edae5 !important;
    box-shadow: 1px 2px 12px 1px #9edae5c6;
    color: #001567 !important;
  }
  

  .verticalLineSort{
    width: 1%;
    /* margin-left: 1vw;
    margin-right: 1vw; */
    height: 100%;
    background-color: #6a48a4b9;
  }

  .loading{
    position: absolute;
    top: 45vh;
    left: 45vw;
  }

  /* approval cards */
  .approvalsWrapper{
    display: flex;
    flex-direction: column;
    padding: 4vh;
    font-size: 18px;
    justify-content: center;
    align-items: center;
  }

  .adminWrapper , .userWrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3vh;
    width: 75vw;
  }

  .userAllWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #dialog-box {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.097);
    backdrop-filter: blur(5px);
    z-index: 1;
    animation: none    ;
  }
  
  #dialog-content {
    
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: rgba(196, 195, 195, 0.797);
    padding: 20px;
    width: 30vw;
    height: 60vh;
    border-radius: 15px;
    animation: none    ;

  }
  
  #dialog-content h2 {
    
    margin-top: 0;
  }
  
  #dialog-content label {
    font-weight: 400;
    display: block;
    margin-bottom: 0.5vw;
    margin-left: 0.5vw;
  }
  
  #dialog-content input,
  #dialog-content textarea {
    font-weight: 400;
    font-size: 17px;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
    margin-left: 2vw;
    width: 80%;
    padding: 5px;
    height: 5vh;
    margin-bottom: 10px;
    border-radius: 10px;
    text-indent: 10px;
    background-color: #efefefa9;
  }

  #dialog-content input:hover,
  #dialog-content textarea:hover {
    box-shadow: 1px 2px 13px 2px rgba(60, 60, 60, 0.767);
    cursor: text;
  }
  
  #dialog-content textarea {
    padding: 8px;
    height: 7vh;
  }
  
  #dialog-content input:focus,
  #dialog-content textarea:focus {
    outline: none;
    box-shadow: 1px 1px 1px 2px gray;
  }
  
  #dialog-content button {
    font-weight: 300;
    font-size: 15px;
    background-color: #d4d4d4;
    margin-left: 6vw;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 3px 1px rgba(60, 60, 60, 0.581);;
  }
  
  #dialog-content button:hover {
    cursor: pointer;
    background-color: #c6c6c6;
    box-shadow: 1px 2px 13px 2px rgba(60, 60, 60, 0.767);;

  }