*{
    scroll-behavior: smooth;
    transition: all 0.3s ease;
    animation: slide-up 0.5s ease-out ;
  }

@keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

body{
    background-color: #000722;
    font-family: 'Poppins';
    transition: all 0.3s ease-in-out;
}


.form{
    width: 30vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap:3vh;
    margin-top: 0vh;
    background-color:#71cfdd ;
    border-radius: 15px;
    font-size: 36px;
}

.form input{
    all: unset;
    font-size: 30px;
    width: 20vw;
    height: 7vh;
    text-indent: 2vw;
    border-radius: 15px;
    background-color: #e1e1e1;
    box-shadow: 1px 2px 1px 0px gray;
    transition: all 0.3s ease-in-out;
}

.form input:hover,.form input:focus{
    box-shadow: 1px 2px 3px 1px rgb(93, 93, 93);
}

.form button{
    border: none;
    background-color: #e1e1e1;
    font-size: 24px;
    width: 6vw;
    height: 5vh;
    border-radius:15px ;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 1px 1px rgb(93, 93, 93);

}

.form button:hover{
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    box-shadow: 1px 2px 3px 1px rgb(93, 93, 93);

}


::-webkit-scrollbar {
  /* display: none; */
  width: 2px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0173a3;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #011462;
    border-radius: 30px;
    transition: all 0.5s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001b87;
}
