:root{
  --box-shadow-card:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                          0 5px 5px rgba(0, 0, 0, 0.06),
                          0 3px 3px rgba(0, 0, 0, 0.072),
                          0 5px 5.4px rgba(0, 0, 0, 0.086),
                          0 5px 5px rgba(0, 0, 0, 0.12);
  --box-shadow-card-white:   0 2.8px 2.2px rgba(255, 255, 255, 0.1),
                          0 6.7px 5.3px rgba(255, 255, 255, 0.1),
                          0 5px 5px rgb(255, 255,255,0.1),
                          0 3px 3px rgb(255, 255,255,0.1),
                          0 5px 5.4px rgb(255, 255,255,0.1),
                          0 5px 5px rgb(255, 255,255,0.1);
  --box-shadow-button: 1px 2px 3px 1px rgba(60, 60, 60, 0.581);
  --box-shadow-glow : 0 8px 20px 0 rgba(35, 209, 235, 0.751);
                        }


*{
    scroll-behavior: smooth;
    transition: all 0.3s ease;
    animation: slide-up 0.5s ease-out ;
  }

@keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

body{
    background-color: #000722;
    font-family: 'Poppins';
    transition: all 0.3s ease-in-out;
    /* overflow-x: hidden !important; */
  }
  
html,body{
  overflow-x: hidden !important;
}

/* .leaveportalImg{
  width: 50vw;
  height: 10vh;
} */

.leaveportalImg img{
    /* height: 20vh; */
    margin-top: 10vh;
    width: 25vw;
}


.form{
    width: 30vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap:3vh;
    margin-top: 0vh;
    background-color:#71cfdddc ;
    border-radius: 15px;
    font-size: 30px;
    box-shadow: 2px 4px 12px 2px rgba(26, 221, 243, 0.415);
}

.form input{
    all: unset;
    font-size: 25px;
    width: 20vw;
    height: 7vh;
    text-indent: 1.5vw;
    border-radius: 15px;
    background-color: #e4ebebc5 !important;
    box-shadow: 1px 2px 1px 0px gray;
    transition: all 0.3s ease-in-out;
}

.form input:hover,.form input:focus,.form input:active{
    background-color:#e4ebebc5 !important ;
    box-shadow: 1px 2px 3px 1px rgba(60, 60, 60, 0.581);
}


.form button{
    border: none;
    background-color: #e4ebebc5 !important;
    font-size: 22px;
    width: 8vw;
    height: 5.5vh;
    border-radius:15px ;
    transform: scale(1);
    box-shadow: 1px 1px 1px 1px #7d7d7dc5;
    transition: all 0.3s ease-in-out;

}

.form button:hover{
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.874);
    box-shadow:  1px 2px 3px 2px rgba(60, 60, 60, 0.581);

}

.formWrapper a{
  color : #6948a4;
  cursor: pointer;
  font-size: 26px;
}
/* style={{color:'#6948a4',cursor:'pointer',fontSize:'26px'}} */

.invalidText{
  margin-left: 44vw;
  color:#6948a4;
  cursor: pointer;
  font-size: 25px;
}

::-webkit-scrollbar {
  /* display: none; */
  width: 2px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0173a3;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #011462;
    border-radius: 30px;
    transition: all 0.5s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001b87;
}

@media only screen and (min-width: 2000px) {
  .formWrapper img{
    width: 40vw;
  }
  .form{
    font-size: 90px;
    width: 40vw;
  }
  .form input {
     font-size: 60px;
    width: 30vw;
  }

  .form button{
     font-size: 50px;
    width: 10vw;
  }
   .formWrapper a{
      font-size: 70px;
   }

  .invalidText{
     font-size: 70px !important;
    margin-left: 43vw;
  }
}

@media only screen and (max-width: 1200px) {

  .form{
    width: 40vw;
  }

  

  .form input {
    width: 30vw;
  }

  .form button{
    width: 10vw;
  }

  .invalidText{
    margin-left: 43vw;
  }

  .leaveportalImg img{
    width: 35vw;
  }

}


@media only screen and (max-width: 920px) {
  .form{
    width: 45vw;
  }


  .form input {
    width: 35vw;
  }

  .form button{
    width: 15vw;
  }

  .invalidText{
    margin-left: 40vw;
  }

  .leaveportalImg img{
    width: 45vw;
  }
}



@media only screen and (max-width: 720px) {
  .form{
    font-size: 25px;
    width: 55vw;
  }


  .form input {
    font-size: 20px;
    width: 40vw;
  }

  .form button{
    font-size: 20px;
    width: 15vw;
  }

  .invalidText{
    font-size: 20px;
    margin-left: 37vw;
  }

  .leaveportalImg img{
    margin-top: 7vh;
    width: 55vw;
  }

}


@media only screen and (max-width: 620px) {
  .form{
    width: 60vw;
  }


  .form input {
    font-size: 18px;
    width: 45vw;
  }

  .form button{
    width: 20vw;
  }

  .invalidText{
    margin-left: 34vw;
  }

  .leaveportalImg img{
    width: 60vw;
  }

}


@media only screen and (max-width: 420px) {

  .invalidText{
    margin-left: 25vw;
  }

  .leaveportalImg img{
    width: 70vw;
  }

  .form button{
    width: 25vw;
  }
  .formWrapper a{
    font-size: 20px;
 }
}


@media only screen and (max-width: 320px) {
  .form {
    width: 85vw;
  }
  .form input{
    width: 75vw;
  }

  .invalidText{
    font-size: 16px;
  }

  .leaveportalImg img{
    font-size: 16px;

  }

  .form button{
    font-size: 16px;

  }
  .formWrapper a{
    font-size: 16px;

 }

}