.AdminCardWrapper{
        /* border-radius: 15px; */
        display: flex;
        align-items: center;
    
        font-size: 18px;
        /* glassmorphism */
        /* background: #ffffff8a; pending*/ 
        /* background: #33b7b7c0; accepted*/
        /* background: #ac9bcbb9; rejected*/
        /* background: #e6e2e197; else*/
        /* background: #ffffff8a; */
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    /* width: 80vw; */
}

.AdminCardWrapper:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 32px 0 rgba(145, 149, 206, 0.37);
    z-index: 2;
    cursor: default;
}

.adminleft{
    color: #010e40;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 2.3vh;
    gap: 1vh;
    width: 80%;
}

.username{
    font-weight: 500;
}

.username::after{

    content: '';
    display: block;
    height: 0.1vh;
    width: 15vw;
    background-color: black;
}

.dates{
    display: flex;

}

.fromDate{
    display: flex;
}

.fromDateContent{
    margin-left: 1vw;
}


.toDate{
    display: flex;
}

.toDateContent{
    /* margin-left: 1vw; */
}

.reason{
    margin-left: 1vw;
    font-weight: 500;
}

.reasonContent{
    font-weight: 400;
    width: 45vw;
    height: fit-content;
    padding: 1vh;
    text-indent: 2vw;
    word-wrap: break-word;
    margin-left: 3vw;
    background-color: rgba(217, 217, 217, 0.567);
    border-radius: 10px;
}

.adminRight{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 25vw ;
    margin-right: 5vw;
    background-color: transparent;
}

.AdminapprovalStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color:  #01135b;;
    color: #71cfdd  ;
    height: 75%;
    width: 36%;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--box-shadow-button);
}

.AdminapprovalStatus:hover{
    cursor: default;
    background-color: #001a82;
    box-shadow: 0 8px 20px 0 rgba(0, 13, 96, 0.751);
}

.rejectBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #a38ccb;
    height: 75%;
    width: 30%;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--box-shadow-button);
}

.rejectBtn:hover{
    cursor: pointer;
    /* background-color: #6948a4; */
    box-shadow: 0 8px 20px 0 rgba(101, 7, 124, 0.751);
}

.acceptBtn  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #5bd0df;
    height: 75%;
    width: 30%;
    box-shadow: var(--box-shadow-button);
    transition: all 0.3s ease-in-out;
}

.acceptBtn:hover{
    cursor: pointer;
    background-color: #00cae9;
    box-shadow: 0 8px 20px 0 rgba(1, 118, 136, 0.751);
}
