    .UserCardWrapper{
        /* border-radius: 15px; */
        display: flex;
        align-items: center;
        font-size: 18px;
        /* glassmorphism */
        background: rgba(255, 255, 255, 0.542);
        border-radius: 10px;
        transition: all 0.3s ease-in-out;    
    }

    .UserCardWrapper:hover{
        transform: scale(1.01);
        box-shadow: 0 8px 32px 0 rgba(145, 149, 206, 0.37);
        cursor: default;
        /* box-shadow: var(--box-shadow-card-white); */
    }

.UserLeft{
    color: #010e40;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 3vh;
    gap: 1vh;

    width: 80%;
}

.UserDates{
    display: flex;

}

.UserFromDate{
    display: flex;
}


.rightArrow img{
    margin-left: 1vw;
    margin-right: 1vw;
    height: 15px;
    /* width: 25px; */
}

.UserToDate{
    display: flex;
    /* margin-left: 5vw; */
}

.UserReason{
    font-weight: 500;
}

.UserToDateContent{
    /* margin-left: 1vw; */
}

.UserReasonContent{
    font-weight: 400;
    width: 45vw;
    height: fit-content;
    padding: 1vh;
    text-indent: 2vw;
    word-wrap: break-word;
    margin-left: 3vw;
    font-size: 16px;
    background-color: rgba(217, 217, 217, 0.567);
    border-radius: 10px;
}


/*  */
.UserRight{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 15vw ;
    margin-right: 5vw;
    background-color: transparent;
    
}

.approvalStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color:  #01135b;;
    color: #71cfdd  ;
    height: 75%;
    width: 45%;
    box-shadow: var(--box-shadow-button);
    transition: all 0.3s ease-in-out;
}

.approvalStatus:hover{
    cursor: default;
    background-color: #001a82;
    box-shadow: 0 2px 10px 0 rgba(0, 13, 96, 0.751);
}

.deleteApproval  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #5bd0df;
    height: 75%;
    width: 40%;
    box-shadow: var(--box-shadow-button);
    transition: all 0.3s ease-in-out;
}

.deleteApproval:hover{
    cursor: pointer;
    background-color: #00cae9;
    box-shadow: 0 8px 20px 0 rgba(1, 118, 136, 0.751);
}


@media only screen and (min-width: 2000px) {
    .UserCardWrapper{
        margin-top: 3vh;
    }

  }

    
  @media only screen and (max-width: 1200px) {

    .approvalStatus{
        width: 53%;
    }

  }

  @media only screen and (max-width: 920px) {
    .UserLeft{
        width: 65%;
    }

    .UserRight{
        width: 35%;
    }

    .approvalStatus{
        font-size: 16px;
        width: 50%;
    }
    .deleteApproval {
        width: 45%;
    }
    .UserReasonContent{
        width: 42vw;
    }

  }

  @media only screen and (max-width: 720px) {
    .UserLeft{
        width: 65%;
    }

    .UserRight{
        width: 35%;
    }

    .approvalStatus{
        font-size: 16px;
        width: 50%;
    }
    .deleteApproval {
        width: 45%;
    }

    /* change here */
    .UserReasonContent{
        width: 38vw;
    }

  }

  @media only screen and (max-width: 620px) {

    /* change here */
    .UserCardWrapper{
        font-size: 16px;   
    }
    .UserReasonContent{
        font-size: 15px;
        width: 35vw;
    }
    .approvalStatus{
        font-size: 14px;
        width: 50%;
        margin-right: 0.5vw;
    }    
    .deleteApproval {
        width: 50%;
    }

  }


  @media only screen and (max-width: 520px) {

    /* change here */
    
    .UserLeft{  
        width: 55%;
    }
    .UserCardWrapper{
        /* height: 24vh; */
        font-size: 14px;   
    }
    .UserReasonContent{
        font-size: 13px;
        width: 35vw;
    }

    .approvalStatus{
        font-size: 12px;
        width: 50%;
        height: 65%;
        margin-right: 0.5vw;
    }    
    .deleteApproval {
        height: 65%;
        width: 45%;
    }
  }


  
  @media only screen and (max-width: 420px) {

    /* change here */
    .UserCardWrapper{
        /* height: 24vh; */
        /* width: 90vw; */
        font-size: 13px;   
    }
    
    .UserLeft{  
        width: 55%;
    }

    .UserReasonContent{
        font-size: 12px;
        width: 35vw;
    }

    .approvalStatus{
        font-size: 11px;
        width: 50%;
        height: 62%;
        margin-right: 0.5vw;
    }    
    .deleteApproval {
        height: 62%;
        width: 45%;
    }
  }


  @media only screen and (max-width: 376px) {

    /* change here */
    .UserCardWrapper{
        /* height: 24vh; */
        /* width: 90vw; */
        font-size: 12px;   
    }
    
    .UserLeft{  
        width: 50%;
        padding: 1.7vh;
    }
    .UserRight{  
        width: 33vw;
       margin-right: 2vw;
    }

    .UserReasonContent{
        font-size: 12px;
        width: 37vw;
        margin-left:1vw ;
    }

    .approvalStatus{
        font-size: 11px;
        width: 55%;
        height: 62%;
        margin-right: 0.8vw;
    }    
    .deleteApproval {
        height: 62%;
        width: 50%;
    }
  }