    .UserCardWrapper{
        /* border-radius: 15px; */
        display: flex;
        align-items: center;
    
        font-size: 18px;
        /* glassmorphism */
        background: rgba(255, 255, 255, 0.542);
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        z-index: 1;        
    }

    .UserCardWrapper:hover{
        transform: scale(1.01);
        box-shadow: 0 8px 32px 0 rgba(145, 149, 206, 0.37);
        z-index: 2;
        cursor: default;
        /* box-shadow: var(--box-shadow-card-white); */
    }

.UserLeft{
    color: #010e40;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 3vh;
    gap: 1vh;

    width: 80%;
}

.UserDates{
    display: flex;

}

.UserFromDate{
    display: flex;
}

.UserFromDateContent{
    /* margin-left: 1vw; */
}


.rightArrow img{
    margin-left: 1vw;
    margin-right: 1vw;
    height: 15px;
    /* width: 25px; */
}

.UserToDate{
    display: flex;
    /* margin-left: 5vw; */
}

.UserReason{
    font-weight: 500;
}

.UserToDateContent{
    /* margin-left: 1vw; */
}

.UserReasonContent{
    font-weight: 400;
    width: 45vw;
    height: fit-content;
    padding: 1vh;
    text-indent: 2vw;
    word-wrap: break-word;
    margin-left: 3vw;
    font-size: 16px;
    background-color: rgba(217, 217, 217, 0.567);
    border-radius: 10px;
}

/* .UserRight{
    height: 15vh;
    width: 15vw ;
    margin-right: 5vw;
    background-color: #01135b;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    color: #71cfdd  ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserRight:hover{
    background-color: #001a82;
    box-shadow: 1px 2px 3px 1px rgb(187, 187, 187);
} */


/*  */
.UserRight{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 15vw ;
    margin-right: 5vw;
    background-color: transparent;
    
}

.approvalStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color:  #01135b;;
    color: #71cfdd  ;
    height: 75%;
    width: 45%;
    box-shadow: var(--box-shadow-button);
    transition: all 0.3s ease-in-out;
}

.approvalStatus:hover{
    cursor: default;
    background-color: #001a82;
    box-shadow: 0 2px 10px 0 rgba(0, 13, 96, 0.751);
}

.deleteApproval  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #5bd0df;
    height: 75%;
    width: 40%;
    box-shadow: var(--box-shadow-button);
    transition: all 0.3s ease-in-out;
}

.deleteApproval:hover{
    cursor: pointer;
    background-color: #00cae9;
    box-shadow: 0 8px 20px 0 rgba(1, 118, 136, 0.751);
}

