.UserCardWrapper{
    border-radius: 15px;
    display: flex;
    align-items: center;
    transform: scale(1);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.UserCardWrapper:hover{
    transform: scale(1.01);
    box-shadow: 1px 2px 3px 1px rgb(187, 187, 187);
}

.UserLeft{
    color: #010e40;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 3vh;
    gap: 1vh;

    width: 80%;
}

.UserDates{
    display: flex;

}

.UserFromDate{
    display: flex;
}

.UserFromDateContent{
    margin-left: 1vw;
}


.UserToDate{
    display: flex;
    margin-left: 5vw;
}

.UserToDateContent{
    margin-left: 1vw;
}

.UserReasonContent{
    width: 45vw;
    height: fit-content;
    padding: 1vh;
    text-indent: 2vw;
    word-wrap: break-word;
    margin-left: 3vw;
    font-size: 18px;
    /* background-color: rgb(217, 217, 217); */
    border-radius: 10px;
}

/* .UserRight{
    height: 15vh;
    width: 15vw ;
    margin-right: 5vw;
    background-color: #01135b;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    color: #71cfdd  ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserRight:hover{
    background-color: #001a82;
    box-shadow: 1px 2px 3px 1px rgb(187, 187, 187);
} */


/*  */
.UserRight{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 15vw ;
    margin-right: 5vw;
    background-color: transparent;
}

.approvalStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color:  #01135b;;
    color: #71cfdd  ;
    height: 75%;
    width: 45%;
    transition: all 0.3s ease-in-out;
}

.approvalStatus:hover{
    cursor: default;
    background-color: #001a82;
    box-shadow: 1px 2px 3px 1px rgb(187, 187, 187);
}

.deleteApproval  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #a0d9e1;
    height: 75%;
    width: 40%;
    transition: all 0.3s ease-in-out;
}

.deleteApproval:hover{
    cursor: pointer;
    background-color: #71cfdd;
    box-shadow: 1px 2px 3px 1px rgb(187, 187, 187);
}
